# for Loop <hr style="border: 2.5px solid #fa6194ff"></hr>

<b> Elyssa C. Tombale </b>
<br> T09-A </br>

# Iterating Over a List

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for n in numbers:
    if n%2 == 0:
       print(n)

2
4
6
8
10

In [4]:
# List Comprehension
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = [n for n in numbers if n%2==0]
result

[2, 4, 6, 8, 10]

# Iterating Over a Dictionary

In [5]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [14]:
# key-value pair
employee = {'name':['Elyssa', 'Tombale'] ,
            'position': ['Designer', 'Web'],
            'salary': [1000000, 500000]}

for key in employee:
    print(key)

name
position
salary

In [ ]:
employee['salary']

[1000000, 500000]

In [16]:
for value in employee.values():
    print(value)

['Elyssa', 'Tombale']
['Designer', 'Web']
[1000000, 500000]

# Lambda Function

In [18]:
def mul_by_2(x):
    x = 2*x
    return x

mul_by_2(4)

8

In [27]:
y = 8
x = (lambda x : 2*x)(y)
x

16

In [28]:
type(x)

int